@import '../wei-styles';

.wei-header-container {
  display: flex;
  background-color: $wei-primary;

  @include breakpoint($sm-bp) {
    height: $header-mobile;
  }
  @include breakpoint($md-bp) {
    height: $header-normal;
  }
}



