@import '../wei-styles';

.wei-header-container {
  display: flex;
  background-color: $wei-primary;

  @include breakpoint($sm-bp) {
    padding: 50px;
  }
  @include breakpoint($md-bp) {
    padding: 25px;
  }
}



